parameters:
    level: max
    paths:
        - src/
        - tests/
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION_ID
    ignoreErrors:
        - /^Access to an undefined property MongoDB\\Model\\BSONDocument::\$\w+\.$/
includes:
	- phpstan-baseline.neon
