parameters:
    level: max
    paths:
        - src/
        - tests/
    ignoreErrors:
        - /no value type specified in iterable type MongoDB\\Model\\BSONDocument\./
        - /^Access to an undefined property MongoDB\\Model\\BSONDocument::\$\w+\.$/
